.sidebar-container {
    width: 100%;
}

.sidebar {
    height: calc(100vh - 64px);
    margin-top: 64px;
}

.sidebar-list-title {
    color: rgba(110, 110, 110, 0.8);
    font-size: 16px;
    text-transform: uppercase;
    margin: 26px 0px 10px 36px;
}

.content {
    height: calc(100vh - 64px);
    margin-top: 64px;
}

.mat-icon {
    margin-right: 15px;
}

.mat-list {
    border-bottom: 1px solid #d8d8d8;
    width: 250px;
    padding-bottom: 16px;

    & .mat-list-item {
        display: flex;
        cursor: pointer;
        color: rgba(110, 110, 110, 0.8);
        width: auto;
        padding-left: 4px;

        &.active,
        &:hover {
            background-color: #f3f5ff;
        }
    }

    & :not(.mat-list-item.active) .mat-icon {
        color: rgba(110, 110, 110, 0.7);
    }
}
