<app-navbar (isShowSidebar)="sidenav.toggle($event)" [isMenuOpened]="isShowSidebar"></app-navbar>

<mat-sidenav-container class="sidebar-container">

    <mat-sidenav class="sidebar mat-elevation-z5" #sidenav mode="side" [(opened)]="isShowSidebar"
        [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">

        <div class="sidebar-list" *ngFor="let itemsList of sidenavItems">
            <p class="sidebar-list-title">{{itemsList.title}}</p>
            <mat-list>
                <mat-list-item *ngFor="let item of itemsList.items" routerLink="{{item.routerLink}}"
                    routerLinkActive="active">
                    <mat-icon color="primary">{{item.matIcon}}</mat-icon> {{item.label}}
                </mat-list-item>
            </mat-list>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
