<div class="form-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="form-card mat-elevation-z5">
        <mat-card-title>Update team #{{team?.id}}</mat-card-title>

        <form [formGroup]="teamForm" class="team-from">
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Team name</mat-label>
                <input formControlName="name" matInput placeholder="Enter name">
            </mat-form-field>
        </form>

        <mat-card-actions align="end">
            <button (click)="goBack()" color="warn" mat-button>CANCEL</button>
            <button (click)="saveTeam()" color="primary" [disabled]="teamForm.invalid" mat-button>SAVE</button>
        </mat-card-actions>
    </mat-card>
</div>
