<mat-toolbar class="page-header">
    <h1>User project tasks number</h1>
</mat-toolbar>

<div class="query-form-wrapper">
    <form [formGroup]="queryForm" class="query-form">
        <mat-form-field class="full-width-input" appearance="outline">
            <mat-label>User</mat-label>
            <mat-select formControlName="userId">
                <mat-option *ngFor="let user of usersOptions" [value]="user.id">{{user.name}} &lt;{{user.email}}>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <button (click)="executeQuery()" color="primary" [disabled]="queryForm.invalid" color="primary"
        mat-raised-button>Execute query</button>
</div>


<div class="query-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="userProjects && userProjects.length === 0">
        <h2>User doesn't have any projects.</h2>
    </div>

    <mat-card *ngFor="let queryResult of userProjects">
        <mat-card-subtitle class="mat-card-subtitle">
            <span>Project #{{queryResult.project.id}}</span>
        </mat-card-subtitle>
        <mat-card-title>{{queryResult.project.name}}</mat-card-title>

        <mat-card-content>
            <p>
                Author: <b>{{queryResult.project.author.name}}</b>
                <br>
                Team: <b>{{queryResult.project.team?.name}}</b>
                <br>
                Created: <b>{{queryResult.project.createdAt | localDate:'uk-UA'}}</b> | Deadline:
                <b>{{queryResult.project.deadline | localDate:'uk-UA'}}</b>
            </p>
            <mat-divider [inset]="true"></mat-divider>
            <p>{{queryResult.project.description}}</p>
            <h2>Tasks number: {{queryResult.tasksNumber}}</h2>
        </mat-card-content>
    </mat-card>
</div>
