.query-container{
    padding: 0 24px 24px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.query-form{
    width: 400px;
}

.full-width-input {
    width: 100%;
}

.query-form-wrapper{
    padding: 0 24px 24px 24px;
    display: flex;
    align-items: center;

    & button{
        margin-left: 15px;
    }
}

:host ::ng-deep .mat-form-field-wrapper{
    margin: 0 !important;
    padding: 0 !important;
  }
