.details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.task-card {
    width: 60%;
    padding: 30px;
}

.mat-card-subtitle {
    margin-bottom: 12px !important;
    font-size: 16px;
}

.mat-default{
    background-color: #e0e0e0 !important;
    color: rgba(0,0,0,.87) !important;
}
