<div class="details-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="task-card mat-elevation-z5">
        <mat-card-subtitle>Task #{{task?.id}}</mat-card-subtitle>
        <mat-card-title>{{task?.name}}</mat-card-title>

        <ul class="values-list">
            <li class="values-list-row">
                <div class="values-list-item-name">ID</div>
                <div class="values-list-item-value">{{task?.id}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Performer</div>
                <div class="values-list-item-value"><a [routerLink]="['/', 'users', task?.performerId]">{{task?.performer?.name}} &lt;{{task?.performer?.email}}></a></div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Project</div>
                <div class="values-list-item-value"><a [routerLink]="['/', 'projects', task?.projectId]">{{task?.project?.name}} #{{task?.project?.id}}</a></div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Created</div>
                <div class="values-list-item-value">{{task?.createdAt | localDate:'uk-UA'}}</div>
            </li>
            <li *ngIf="task?.finishedAt" class="values-list-row">
                <div class="values-list-item-name">Finished</div>
                <div class="values-list-item-value">{{task?.finishedAt! | localDate:'uk-UA'}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Description</div>
                <div class="values-list-item-value" style="white-space: pre-line">{{task?.description}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">State</div>
                <div class="values-list-item-value">
                    <mat-chip-list>
                        <mat-chip selected="true" [taskStateChip]="task?.state"></mat-chip>
                    </mat-chip-list>
                </div>
            </li>
        </ul>

        <mat-card-actions align="end">
            <button (click)="goBack()" mat-button>BACK</button>
            <button [routerLink]="['/tasks', task?.id, 'edit']" color="primary" mat-button>EDIT</button>
        </mat-card-actions>
    </mat-card>
</div>
