<div class="details-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="user-card mat-elevation-z5">
        <mat-card-subtitle>User #{{user?.id}}</mat-card-subtitle>
        <mat-card-title>{{user?.firstName}} {{user?.lastName}}</mat-card-title>

        <ul class="values-list">
            <li class="values-list-row">
                <div class="values-list-item-name">ID</div>
                <div class="values-list-item-value">{{user?.id}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Email</div>
                <div class="values-list-item-value">{{user?.email}}</div>
            </li>
            <li *ngIf="user?.team" class="values-list-row">
                <div class="values-list-item-name">Team</div>
                <div class="values-list-item-value"><a [routerLink]="['/', 'teams', user?.teamId]">{{user?.team?.name}} #{{user?.team?.id}}</a></div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Registered</div>
                <div class="values-list-item-value">{{user?.registeredAt | localDate:'uk-UA'}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Birthday</div>
                <div class="values-list-item-value">{{user?.birthDay | localDate:'uk-UA'}}</div>
            </li>
        </ul>

        <mat-card-actions align="end">
            <button (click)="goBack()" mat-button>BACK</button>
            <button  [routerLink]="['/users', user?.id, 'edit']" color="primary" mat-button>EDIT</button>
        </mat-card-actions>
    </mat-card>
</div>
