/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a{
    text-decoration: none;
    color: #3700de;
}

snack-bar-container {
    &.error-snack-bar {
        background: #a90707;
        text-align: center;
    }
    &.usual-snack-bar {
        text-align: center;
    }
    & span {
        width: 100%;
    }
}

.mat-spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1042;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 6px;
    height: 3px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    background-color: #b9b9b9;
}
::-webkit-scrollbar-track-piece {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #b9b9b9;
    border-radius: 36px;
}
::-webkit-scrollbar-corner {
    background-color: #b9b9b9;
}

.dialog-backdrop{
    background: rgba(255, 255, 255, 0.7);
}

.mat-toolbar.page-header {
    padding: 24px;
    background: none;
    height: auto;

    & h1 {
        font-weight: 400;
        font-size: 38px;
        color: #777777;
    }
}

ul.values-list {
    padding: 0;
    font-size: 16px;

    & > li.values-list-row {
        display: flex;
        align-items: center;
        border-top: solid 1px #dee2e6;
        padding: 1rem 0.5rem;

        & > .values-list-item-name {
            width: 20%;
            color: #9e9e9e;
        }

        & > .values-list-item-value {
            width: 80%;
        }
    }
}
