.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.form-card {
    width: 500px;
    padding: 30px;
}

.user-form,
.full-width-input {
    width: 100%;
}

.mat-card-title{
    margin-bottom: 26px;
}

textarea[cdktextareaautosize].mat-input-element {
    overflow: hidden;
}
