.tasks-container {
    padding: 0 24px 24px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.mat-spinner-wrapper {
    margin-top: -104px;
    margin-left: -24px;
}

@media (max-width: 600px) {
    .tasks-container {
        padding: 0 12px 12px 12px;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 2200px) {
    .tasks-container {
        padding: 0 24px 24px 24px;
        grid-template-columns: repeat(5, 1fr);
    }
}
