<mat-toolbar class="page-header">
    <mat-toolbar-row>
        <h1>Tasks</h1>

    </mat-toolbar-row>
    <mat-toolbar-row>
        <button routerLink="new" color="primary" mat-raised-button>Create a new task</button>

    </mat-toolbar-row>

</mat-toolbar>

<div class="tasks-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <app-task-card *ngFor="let task of tasks" [task]="task" (onDelete)="deleteTask($event)">
    </app-task-card>
</div>
