<div class="form-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="form-card mat-elevation-z5">
        <mat-card-title>Update project #{{project?.id}}</mat-card-title>

        <form [formGroup]="projectForm" class="project-from">
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Project name</mat-label>
                <input formControlName="name" matInput placeholder="Enter name">
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Author</mat-label>
                <mat-select formControlName="authorId">
                  <mat-option *ngFor="let user of usersOptions" [value]="user.id">{{user.name}} &lt;{{user.email}}></mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Team</mat-label>
                <mat-select formControlName="teamId">
                    <mat-option *ngFor="let team of teamsOptions" [value]="team.id">{{team.name}} #{{team.id}}</mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Project deadline</mat-label>
                <input formControlName="deadline" matInput placeholder="Choose a deadline" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Project description</mat-label>
                <textarea cdkTextareaAutosize formControlName="description" matInput placeholder="Enter description"></textarea>
            </mat-form-field>
        </form>

        <mat-card-actions align="end">
            <button (click)="goBack()" color="warn" mat-button>CANCEL</button>
            <button (click)="saveProject()" color="primary" [disabled]="projectForm.invalid" mat-button>SAVE</button>
        </mat-card-actions>
    </mat-card>
</div>
