<mat-card>
    <mat-card-subtitle class="mat-card-subtitle">
        <span>User #{{user.id}}</span>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button [routerLink]="[user.id, 'edit']" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button (click)="deleteUser()" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </mat-card-subtitle>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>

    <mat-card-content>
        <p>
            Email: <b>{{user.email}}</b>
            <br>
            <span *ngIf="user?.team">Team: <b>{{user.team!.name}}</b><br></span>
            Registered: <b>{{user.registeredAt | localDate:'uk-UA'}}</b> | Birthday: <b>{{user.birthDay | localDate:'uk-UA'}}</b>
        </p>
        <mat-divider [inset]="true"></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end">
        <button [routerLink]="[user.id]" color="primary" mat-button>DETAILS</button>
    </mat-card-actions>
</mat-card>
