.mat-divider-inset {
    margin-bottom: 6px !important;
}

.mat-card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    height: 100%;
    box-sizing: border-box;
}

.mat-card-content {
    flex-grow: 1;
}

.mat-card-subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px !important;
}

.mat-menu-item > span{
    margin-right: 15px;
}
