<mat-toolbar class="header" color="primary">
    <button class="header-button" color="primary" mat-mini-fab (click)="openMenu()">
        <mat-icon *ngIf="!isMenuOpened" class="header-button-icon">menu</mat-icon>
        <mat-icon *ngIf="isMenuOpened" class="header-button-icon">arrow_back</mat-icon>
    </button>
    <span class="header-text">Projects Manager</span>
</mat-toolbar>
