.header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    height: 64px;

    &-button {
        box-shadow: none !important;

        &:hover {
            background-color: rgba(0, 0, 0, 0.08);
        }
    }

    &-text {
        margin-left: 16px;
        font-weight: 400;
        font-size: 1.2rem;
    }
}
