<h2 mat-dialog-title>Unsaved changes</h2>
<mat-dialog-content>
    There are unsaved changes! Are you sure?
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="warn" (click)="confirmExit()">Exit</button>
</mat-dialog-actions>
