<mat-card>
    <mat-card-subtitle class="mat-card-subtitle">
        <span>Project #{{project.id}}</span>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button [routerLink]="[project.id, 'edit']" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button (click)="deleteProject()" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </mat-card-subtitle>
    <mat-card-title>{{project.name}}</mat-card-title>

    <mat-card-content>
        <p>
            Author: <b>{{project.author.name}}</b>
            <br>
            Team: <b>{{project.team.name}}</b>
            <br>
            Created: <b>{{project.createdAt | localDate:'uk-UA'}}</b> | Deadline: <b>{{project.deadline | localDate:'uk-UA'}}</b>
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <p>{{project.description}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button [routerLink]="[project.id]" color="primary" mat-button>DETAILS</button>
    </mat-card-actions>
</mat-card>
