<h2 mat-dialog-title>Delete project</h2>
<mat-dialog-content>
    Are you sure you want to delete this project?
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="loading" color="warn" (click)="deleteProject()">Delete</button>
</mat-dialog-actions>
