.details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    padding: 30px;
    box-sizing: border-box;
}

.team-card {
    width: 60%;
    padding: 30px;
}

.mat-card-subtitle {
    margin-bottom: 12px !important;
    font-size: 16px;
}
