<div class="details-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="team-card mat-elevation-z5">
        <mat-card-subtitle>Team #{{team?.id}}</mat-card-subtitle>
        <mat-card-title>{{team?.name}}</mat-card-title>

        <ul class="values-list">
            <li class="values-list-row">
                <div class="values-list-item-name">ID</div>
                <div class="values-list-item-value">{{team?.id}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Created</div>
                <div class="values-list-item-value">{{team?.createdAt | localDate:'uk-UA'}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Name</div>
                <div class="values-list-item-value" style="white-space: pre-line">{{team?.name}}</div>
            </li>
        </ul>

        <mat-card-actions align="end">
            <button (click)="goBack()" mat-button>BACK</button>
            <button  [routerLink]="['/teams', team?.id, 'edit']" color="primary" mat-button>EDIT</button>
        </mat-card-actions>
    </mat-card>
</div>
