<h2 mat-dialog-title>Delete user</h2>
<mat-dialog-content>
    Are you sure you want to delete this user?
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="loading" color="warn" (click)="deleteUser()">Delete</button>
</mat-dialog-actions>
