<mat-toolbar class="page-header">
    <mat-toolbar-row>
        <h1>Projects</h1>

    </mat-toolbar-row>
    <mat-toolbar-row>
        <button routerLink="new" color="primary" mat-raised-button>Create a new project</button>

    </mat-toolbar-row>

</mat-toolbar>

<div class="projects-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <app-project-card *ngFor="let project of projects" [project]="project" (onDelete)="deleteProject($event)">
    </app-project-card>
</div>
