<mat-card>
    <mat-card-subtitle class="mat-card-subtitle">

        <div class="task-title-chip">
            <mat-chip-list>
                <mat-chip selected="true" [taskStateChip]="task.state"></mat-chip>
            </mat-chip-list>
            <span>Task #{{task.id}}</span>
        </div>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button [routerLink]="[task.id, 'edit']" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button (click)="deleteTask()" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </mat-card-subtitle>
    <mat-card-title>{{task.name}}</mat-card-title>

    <mat-card-content>
        <p>
            Performer: <b>{{task.performer.name}}</b>
            <br>
            Project: <b>{{task.project.name}}</b>
            <br>
            Created: <b>{{task.createdAt | localDate:'uk-UA'}}</b>
            <br>
            <span *ngIf="task.finishedAt">Finished: <b>{{task.finishedAt | localDate:'uk-UA'}}</b></span>
        </p>
        <mat-divider [inset]="true"></mat-divider>
        <p>{{task.description}}</p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button [routerLink]="[task.id]" color="primary" mat-button>DETAILS</button>
    </mat-card-actions>
</mat-card>
