<div class="form-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="form-card mat-elevation-z5">
        <mat-card-title>Update task #{{task?.id}}</mat-card-title>

        <form [formGroup]="taskForm" class="task-from">
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Task name</mat-label>
                <input formControlName="name" matInput placeholder="Enter name">
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Performer</mat-label>
                <mat-select formControlName="performerId">
                  <mat-option *ngFor="let user of usersOptions" [value]="user.id">{{user.name}} &lt;{{user.email}}></mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Project</mat-label>
                <mat-select formControlName="projectId">
                    <mat-option *ngFor="let project of projectsOptions" [value]="project.id">{{project.name}} #{{project.id}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>State</mat-label>
                <mat-select formControlName="state">
                    <mat-option *ngFor="let state of statesEnum | enumToArray" [value]="state.index">{{state.name}}</mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Finished</mat-label>
                <input formControlName="finishedAt" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Task description</mat-label>
                <textarea cdkTextareaAutosize formControlName="description" matInput placeholder="Enter description"></textarea>
            </mat-form-field>
        </form>

        <mat-card-actions align="end">
            <button (click)="goBack()" color="warn" mat-button>CANCEL</button>
            <button (click)="saveTask()" color="primary" [disabled]="taskForm.invalid" mat-button>SAVE</button>
        </mat-card-actions>
    </mat-card>
</div>
