<div class="form-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="form-card mat-elevation-z5">
        <mat-card-title>Create user</mat-card-title>

        <form [formGroup]="userForm" class="user-form">
            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>First name</mat-label>
                <input formControlName="firstName" matInput placeholder="Enter first name">
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Last name</mat-label>
                <input formControlName="lastName" matInput placeholder="Enter last name">
            </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput placeholder="Enter email">
            </mat-form-field>

              <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Team</mat-label>
                <mat-select formControlName="teamId">
                    <mat-option [value]="null">No team</mat-option>
                    <mat-option *ngFor="let team of teamsOptions" [value]="team.id">{{team.name}} #{{team.id}}</mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field class="full-width-input" appearance="outline">
                <mat-label>Birthday</mat-label>
                <input formControlName="birthDay" matInput placeholder="Choose a birthday" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </form>

        <mat-card-actions align="end">
            <button (click)="goBack()" color="warn" mat-button>CANCEL</button>
            <button (click)="saveUser()" color="primary" [disabled]="userForm.invalid" mat-button>SAVE</button>
        </mat-card-actions>
    </mat-card>
</div>
