<mat-toolbar class="page-header">
    <mat-toolbar-row>
        <h1>Users</h1>

    </mat-toolbar-row>
    <mat-toolbar-row>
        <button routerLink="new" color="primary" mat-raised-button>Create a new user</button>

    </mat-toolbar-row>

</mat-toolbar>

<div class="users-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <app-user-card *ngFor="let user of users" [user]="user" (onDelete)="deleteUser($event)">
    </app-user-card>
</div>
