<mat-toolbar class="page-header">
    <mat-toolbar-row>
        <h1>Teams</h1>

    </mat-toolbar-row>
    <mat-toolbar-row>
        <button routerLink="new" color="primary" mat-raised-button>Create a new team</button>

    </mat-toolbar-row>

</mat-toolbar>

<div class="teams-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <app-team-card *ngFor="let team of teams" [team]="team" (onDelete)="deleteTeam($event)">
    </app-team-card>
</div>
