<mat-card>
    <mat-card-subtitle class="mat-card-subtitle">
        <span>Team #{{team.id}}</span>

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button [routerLink]="[team.id, 'edit']" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
            </button>
            <button (click)="deleteTeam()" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
            </button>
        </mat-menu>
    </mat-card-subtitle>
    <mat-card-title>{{team.name}}</mat-card-title>

    <mat-card-content>
        <p>
            Created: <b>{{team.createdAt | localDate:'uk-UA'}}</b>
        </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button [routerLink]="[team.id]" color="primary" mat-button>DETAILS</button>
    </mat-card-actions>
</mat-card>
