<div class="details-container">
    <div *ngIf="loading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>

    <mat-card class="project-card mat-elevation-z5">
        <mat-card-subtitle>Project #{{project?.id}}</mat-card-subtitle>
        <mat-card-title>{{project?.name}}</mat-card-title>

        <ul class="values-list">
            <li class="values-list-row">
                <div class="values-list-item-name">ID</div>
                <div class="values-list-item-value">{{project?.id}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Author</div>
                <div class="values-list-item-value"><a [routerLink]="['/', 'users', project?.authorId]">{{project?.author?.name}} &lt;{{project?.author?.email}}></a></div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Team</div>
                <div class="values-list-item-value"><a [routerLink]="['/', 'teams', project?.teamId]">{{project?.team?.name}} #{{project?.team?.id}}</a></div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Created</div>
                <div class="values-list-item-value">{{project?.createdAt | localDate:'uk-UA'}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Deadline</div>
                <div class="values-list-item-value">{{project?.deadline | localDate:'uk-UA'}}</div>
            </li>
            <li class="values-list-row">
                <div class="values-list-item-name">Description</div>
                <div class="values-list-item-value" style="white-space: pre-line">{{project?.description}}</div>
            </li>
        </ul>

        <mat-card-actions align="end">
            <button (click)="goBack()" mat-button>BACK</button>
            <button  [routerLink]="['/projects', project?.id, 'edit']" color="primary" mat-button>EDIT</button>
        </mat-card-actions>
    </mat-card>
</div>
