.not-found-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.not-found-404 {
    border-right: 1px solid #bebebe;
    padding-right: 20px;
    font-size: 28px;
    line-height: 40px;
}

.not-found-text {
    padding-left: 20px;
    font-size: 20px;
    font-weight: lighter;
}
